body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #1e2220;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  #game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #6d6d6d;
    background: #033b1b;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .personaje {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image:url(https://cdn.pixabay.com/photo/2012/04/12/20/28/frog-30524_640.png);
    background-size: cover;
    background-position:center;
  }
  
  .moneda {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url(https://cdn.pixabay.com/photo/2012/04/02/14/23/house-fly-24629_640.png);
    background-size: cover;
    background-position:center;
  }